## 리스트 자료구조

- 1부터 사용자가 입력한 숫자까지의 약수와 소수를 리스트에 각각저장하고 출력하는 프로그램을 만들어보자.

In [10]:
inputNum = int(input("1보다 큰 숫자를 입력하세요: "))

lsA = []
lsB = []

for i in range(1, inputNum+1):
    if inputNum % i == 0:
        lsA.append(i)
    
print(lsA)

for i in range(2, inputNum+1):
    flag = True
    for n in range(2, i):
        if i % n == 0 :
            flag=False
            break

    if flag : lsB.append(i)

print(lsB)

[1, 2, 5, 10, 25, 50]
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

- 1부터 100사이 난수 10개 생성 후 짝수 홀수 구분해서
리스트에 저장하고 각각의 개수를 출력하는 프로그램 만들기

In [71]:
import random

In [72]:
randomls = sample(range(1, 101), 10)
evens = []
odds = []

for i in randomls:
    if i % 2 == 0:
        evens.append(i)
    else: odds.append(i)

print('짝:{}, 갯수:{}'.format(evens, len(evens)))
print('홀:{}, 갯수:{}'.format(odds, len(odds)))

짝:[28, 32, 80, 92, 38, 46, 94], 갯수:7
홀:[33, 77, 31], 갯수:3

- 공원 입장료 표 (영유아 0~7세 무료 / 어린이 8~13세 200 / 청소년 14~19세 / 성인 20~64세 500 / 어르신 65세 무료)
- 1일 총 입장객 100명이라 할 때 전체 입장 요금을 구하는 프로그램 만들기
- 입장 고객 나이는 난수를 이용한다.

In [79]:
custLs = []

for one in range(100):
    cust = random.randrange(1, 80)
    custLs.append(cust)

feeLs = [0, 200, 300, 500, 0]
feeSum = []
custCnt = [0, 0, 0, 0, 0]
custClass = ['영유아', '어린이', '청소년', '성인', '어르신']

for i in custLs:
    if i < 8 : 
        custCnt[0] += 1
    elif i >= 8 and i < 14 :
        custCnt[1] += 1
    elif i >= 14 and i < 20 :
        custCnt[2] += 1
    elif i >= 20 and i < 65 :
        custCnt[3] += 1
    else : 
        custCnt[4] += 1

for m in range(5):
    feeSum.append(custCnt[m]*feeLs[m])

print('-'*30)
for n in range(5):
    print('{}\t: {}명\t: {}원'.format(custClass[n], custCnt[n], feeSum[n]))
print('-'*30)
print('1일 요금 총합계: {}원'.format(format(sum(feeSum),',')))
print('-'*30)

------------------------------
영유아	: 8명	: 0원
어린이	: 4명	: 800원
청소년	: 5명	: 1500원
성인	: 64명	: 32000원
어르신	: 19명	: 0원
------------------------------
1일 요금 총합계: 34,300원
------------------------------

- 친구 이름 다섯 명을 리스트에 저장하고 오름차순과 내림차순으로 정렬해보자.

In [84]:
friendLs = []
for i in range(5):
    friend = input("친구 이름 입력:")
    friendLs.append(friend)

print("친구들 : {}".format(friendLs))
print("오름차순 : {}".format(sorted(friendLs)))
print("내림차순 : {}".format(sorted(friendLs,reverse=True)))

친구들 : ['박찬호', '홍길동', '유재석', '강호동', '박지성']
오름차순 : ['강호동', '박지성', '박찬호', '유재석', '홍길동']
내림차순 : ['홍길동', '유재석', '박찬호', '박지성', '강호동']

- 리스트에서 중복 아이템(숫자)을 제거하는 프로그램을 만들어보자

In [86]:
numbers = [2, 22, 7, 8, 9, 2, 7, 3, 5, 2, 7, 1, 3]

for i in numbers :
    if numbers.count(i) >=2 :
        numbers.remove(i)

print(numbers)

[22, 8, 9, 5, 2, 7, 1, 3]

- 4개의 숫자 중 서로 다른 숫자 2개를 선택해서 만들 수 있는 모든 경우의 수를 출력하는 프로그램을 만들어보자.

In [89]:
numbers = [4, 6, 7, 9]
result = []

for i in numbers:
    for j in numbers:
        if i==j: continue
        result.append([i,j])

print(result, len(result))

[[4, 6], [4, 7], [4, 9], [6, 4], [6, 7], [6, 9], [7, 4], [7, 6], [7, 9], [9, 4], [9, 6], [9, 7]] 12

- 4개의 숫자 중 서로 다른 숫자 3개를 선택해서 만들 수 있는 모든 경우의 수를 출력하는 프로그램을 만들어보자.

In [92]:
numbers = [4, 6, 7, 9]
result = []

for n1 in numbers:
    for n2 in numbers:
        for n3 in numbers:
            if n1==n2 or n2==n3 or n1==n3 : continue
            result.append([n1,n2,n3])

print(result, len(result))

[[4, 6, 7], [4, 6, 9], [4, 7, 6], [4, 7, 9], [4, 9, 6], [4, 9, 7], [6, 4, 7], [6, 4, 9], [6, 7, 4], [6, 7, 9], [6, 9, 4], [6, 9, 7], [7, 4, 6], [7, 4, 9], [7, 6, 4], [7, 6, 9], [7, 9, 4], [7, 9, 6], [9, 4, 6], [9, 4, 7], [9, 6, 4], [9, 6, 7], [9, 7, 4], [9, 7, 6]] 24

## 튜플 자료구조

- 자주 접속하는 웹사이트 비번을 튜플에 저장해보자.

In [93]:
passwds = ('a12345', 'passw', 'hello')

print(passwds)

('a12345', 'passw', 'hello')

- 대학생 길동이의 1, 2, 3학년 성적을 바탕으로, 졸업시 4.0 이상의 학점을 받기 위해 길동이가 받아야 하는 4학년 1,2 학기의 최소 학점을 구해보자.

In [126]:
scores = ((3.7, 4.2), (2.9, 4.3), (4.1, 4.2))
scoreSum = 0

for i in scores:
    scoreSum += sum(i)

print("3학년 총학점: {}".format(scoreSum))
print("3학년 평균: {}".format(scoreSum/len(scores)))
print("-"*30)

goalScore = 4.0 * 8
fourGoal = round(goalScore - scoreSum,1)

print("4학년 목표 총학점: {}".format(fourGoal))
print("4학년 한학기 최소학점: {}".format(fourGoal/2))
print("-"*30)

fourScore = ((fourGoal/2, fourGoal/2),)
scores += fourScore

print("scores: {}".format(scores))

3학년 총학점: 23.4
3학년 평균: 7.8
------------------------------
4학년 목표 총학점: 8.6
4학년 한학기 최소학점: 4.3
------------------------------
scores: ((3.7, 4.2), (2.9, 4.3), (4.1, 4.2), (4.3, 4.3))

- 다음 2개의 튜플에 대해서 합집합과 교집합을 출력해보자.

In [141]:
tuple1 = (1, 3, 2, 6, 12, 5, 7, 8)
tuple2 = (0, 5, 2, 9, 8, 6, 17, 3)
intersection = []
union = []

for i in tuple1 :
    for j in tuple2 :
        if i == j and i not in intersection :
            intersection.append(i)
intersection = tuple(intersection)

print(intersection)

for i in tuple1 :
    for j in tuple2 :

            

union = tuple(union)

print(union)

(3, 2, 6, 5, 8)
(1, 0, 1, 5, 1, 2, 1, 9, 1, 8, 1, 6, 1, 17, 1, 3)

- 다음 튜플을 요구 사항에 맞춰 아이템을 슬라이스하자

In [143]:
numbers = (8.7, 9.0, 9.1, 9.2, 8.6, 9.3, 7.9, 8.1, 8.3)

numbers[:4]
numbers[2:5]
numbers[3:]
numbers[2:-1] #index 2부터 뒤에서 -2까지
numbers[::3]

(8.7, 9.2, 7.9)

- 시험 점수를 입력한 후 튜플에 저장하고 과목별 학점을 출력해보자.

In [145]:
kor = int(input("국어 점수 입력: "))
eng = int(input("영어 점수 입력: "))
mat = int(input("수학 점수 입력: "))
sci = int(input("과학 점수 입력: "))
his = int(input("역사 점수 입력: "))

scores = ({'kor':kor}, {'eng':eng}, {'mat':mat}, {'sci':sci},{'his':his})

print(scores)

({'kor': 92}, {'eng': 86}, {'mat': 77}, {'sci': 68}, {'his': 54})

- 다음 튜플의 시험 점수에 대해서 오름차순 및 내림차순으로 정렬해보자.

In [148]:
# 위 문제의 scores와 동일
scores = ({'kor': 92}, {'eng': 86}, {'mat': 77}, {'sci': 68}, {'his': 54})
sort_scores=sorted(scores)

TypeError: '<' not supported between instances of 'dict' and 'dict'